<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kg.news.mapper.UserMapper">

    <resultMap id="queryUserMapper" type="kg.news.vo.UserVO">
        <id column="role_id" property="roleId"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="role_name" property="roleName"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="description" property="description"/>
        <result column="create_user" property="createUser"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <select id="queryUsers" parameterType="kg.news.dto.UserQueryDTO" resultMap="queryUserMapper">
        SELECT * FROM user as u
        inner join role_mapper as r on u.id = r.user_id
        <where>
            <choose>
                <when test="id != null and id != '0'">
                    u.id = #{id}
                </when>
                <otherwise>
                    <if test="username != null and username != ''">
                        AND u.username LIKE CONCAT('%', #{username}, '%')
                    </if>
                    <if test="nickname != null and nickname != ''">
                        AND u.nickname LIKE CONCAT('%', #{nickname}, '%')
                    </if>
                    <if test="roleId != null and roleId != ''">
                        AND r.role_id = #{roleId}
                    </if>
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>
